a, a:visited {
    color: #DDD;
}

body {
    /*background-color: #3d3d3d;*/
    background-color: #575757;
    color: #DDD;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
 color: #ffbf00;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
 border-bottom: 1px solid #ffbf00;
 box-shadow: 0 1px 0 0 #000;
}

.btn {
    color: #000;
    background-color: #ffbf00;
}

.btn:hover {
    color: #000;
    background-color: #ffd400;
}

.side-nav {
    background-color: #202020;
    height: 100%;
}

.side-nav.fixed a {
    color: #DDD;
}

.side-nav a {
    color: #DDD;
    height: 24px;
    line-height: 24px;
}

.side-nav a:hover {
    color: #444;
}

.collection {
    border-color: #131313;
}

.collection .collection-item {
    background-color: #575757;
    border-bottom: 1px solid #131313;
}

.collection a.collection-item {
    color: #DDD;
}

.collection a.collection-item:hover {
    color: #575757;
    background-color: #b0b0b0;
}

.now-playing-container {
    background-color: #202020;
}

.album-list {
    background-color: #2a2a2a;
}

.playlist-container {
    background-color: #343434;
}

.song-div li .song-title:hover,
.indexes span:hover,
.playlist-container li:hover  {
    color: #ffbf00;
    cursor: pointer;
}

.dragging {
    color: #FFFFFF;
}

.current-playing {
    color: #ffbf00;
}

.album-details {
    background-color: #000;
    color: #FFF;
    opacity: 0.7;
}

.album-list .album-small {
    background-Color:"#575757",
}

.login-panel {
    background-color: #202020;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.35);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.85); 
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.15);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35);
}

.song-div::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.25);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.2);
}
