/* globals */
main {
    padding-left: 240px;
}

/* helper classes */
.clickable { cursor: pointer; }

.hidden { display:none !important;  }

.text-center {
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollable {
    overflow: hidden;
}

.scrollable:hover {
    overflow: auto;
}

.album-list.scrollable:hover {
    overflow-x: auto;
    overflow-y: hidden;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* icons */
.icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

/* side-nav */
.menu-bar {
    margin-left: 10px;
    height: 40px;
    padding-top: 10px;
}
.menu-bar h5 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.nav-container {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    padding: 0;
}

.artist-list {
    height: calc(100% - 75px);
}

.artist-list ul {
    margin-top: 0;
}

.artist-list h4 {
    margin: 5px 0 5px 12px;
}

.indexes {
    padding: 10px 20px;
    text-align: center;
    height: 75px;
}

/* overlay */

.overlay-blur {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  -webkit-filter: blur(10px);
  filter: url('blur.svg#blur');
  filter: blur(10px);
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
}

/* playlist */
.playlist-container {
    position: absolute;
    top: 305px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.playlist-container ul {
    margin: 0;
    height: 100%;
    position: relative;
}

.playlist-container li {
    height: 22px;
}

.playlist-list-container {
    position: absolute;
    top: 50px;
    left: 10px;
    bottom: 35px;
    right: 10px;
}

.playlist-options-btn {
    top: 15px;
    position: absolute;
    right: 10px;
}

.playlist-controls .playlist-title {
    margin-top: 5px;
}

.playlist-controls .new-playlist {
    padding-left: 28px;
    margin-top: 0;
}

.playlist-controls .new-playlist input {
    width: calc(100% - 29px);
    height: 20px;
    margin-right: 5px;
    margin-bottom: 0;
}

.playlist-controls .loaded-playlists {
    padding-left: 28px;
}

.playlist-controls .playlist-list-container {
    bottom:10px;
}

.playlist-controls .playlist-list-container > div {
    margin-bottom: 15px;
}

.playlist-controls .playlist-list-container .clickable > div {
    display: inline-block;
    width: calc(100% - 24px);
    vertical-align: middle;
    padding-left: 2px;
}

.playlist-back-btn {
    top: 15px;
    position: absolute;
    left: 10px;
}

.playlist-title {
    text-align: center;
    font-weight: bold;
}
.playlist-indicator-container {
    line-height: 10px;
}
.playlist-indicator-container > span {
    cursor: pointer;
}

.playlist .song-duration {
    width: 21%;
    text-align: right;
}

.song-title {
    display: inline-block;
    width: 79%;
    overflow:hidden;
    white-space: nowrap;
    position: absolute;
}

.song-duration {
    display: inline-block;
    position: absolute;
    right: 0;
}

.playlist-overview {
    bottom: 10px;
    position: absolute;
    right: 10px;
    left: 10px;
    height: 22px;
}

/* album-details */

.album-details {
    height: 100%;
    width: 100%;
    overflow: auto;
    white-space: normal;
}

.album-details .artist-name {
    margin-bottom: 10px;
}

.album-details .title-div {
    padding-left: 10px;
}

.album-details .title-div h4 {
    margin-top: 0;
}

.title-div, .song-div {
    padding: 5px;
}

.song-div{    
    position: absolute;
    bottom: 10px;
    top: 105px;
    left: 0;
    right: 310px;
    padding: 0px 20px;
}

.song-div li .song-duration {
    right: 20px;
}

.song-div li {
    height: 24px;
}

.song-div li .song-track {
    width: 24px;
    display: inline-block;
    text-align: center;
}

.album-selected {
    position: absolute;
    height: calc(100% - 240px);
    width: calc(100% - 240px);
    margin-bottom: 0;
    overflow: hidden;
}


.album-selected > div:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.album-large {
    overflow: hidden;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* album-list */

.album-list {
    position: absolute;
    bottom: 0;
    height: 240px;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 240px);
    margin-bottom: 0px;
}

.album-list .album-small {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin:5px;
    transition: all 1s ease;
    background-size: 100%;
}

.album-list h5 {
    margin-top: 0;
}
.album-list .album-details {
    padding:10px;
}

/* now-playing */

.now-playing-container {
    right:0;
    position: absolute;
    z-index:11;
    height: calc(100% - 240px);
    width: 310px;
}

.now-playing {
    padding: 10px 5px;
    height: 305px;
}

.now-playing img {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.now-playing h5 {
    margin: 0;
    height: 27px;
    overflow: hidden;
}

.now-playing h6 {
    margin: 0;
    height: 22px;
}

/* audio controls */
.audio-controls {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}
.audio-controls .timeline {
    width: 100%;
}
.audio-controls .line {
    position:absolute;
    height: 6px;
    top: 3px;
    border-radius: 2px;
    background: rgba(255,255,255,.2);
    cursor:pointer;
    right: 0;
    left: 0;
}
.audio-controls .playhead{
    width: 20px;
    height: 12px;
    border-radius: 5px;
    margin-left:-1px;
    background-color: #DDD;
    cursor: pointer;
}

.audio-controls .controls {
    text-align: center;
}

/* login panel */
.login-panel {
    width:50%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding: 25px;
}

.login-panel h4 {
    margin-top: 0;
}

.login-panel .error {
    height: 30px;
}

.login-panel .preloader-wrapper {
    vertical-align: middle;
}


/* Media Query Overrides */
@media screen and (max-height: 700px) {
    .album-selected {
        height: calc(100% - 120px);
    }
    .album-list {
        width: calc(100% - 550px);
        height: 120px;
    }
    .album-list .album-small {
        height: 100px;
        width: 100px;
    }
    .album-list .album-small h5 {
        font-size: small;
        line-height: 15px;
    }
    .album-list .album-small span {
        font-size: x-small;
        line-height: 12px;
    }
    .now-playing-container {
        height: 100%;
    }
    .now-playing {
        height: 205px;
    }
    .now-playing img {
        height: 100px;
        width: 100px;
    }
    .playlist-container {
        top: 205px;
    }
}