/* globals */
main {
    padding-left: 240px;
}

/*a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}*/

/* helper classes */
.clickable { cursor: pointer; }

.hidden { display:none !important;  }

.text-center {
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollable {
    overflow: hidden;
}

.scrollable:hover {
    overflow: auto;
}

.album-list.scrollable:hover {
    overflow-x: auto;
    overflow-y: hidden;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* icons */
.icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

.icon-play {
    background-image: url(../img/av/ic_play_circle_outline_white_24dp.png);
}

.icon-queue {
    background-image: url(../img/av/ic_queue_music_white_24dp.png);
}

.icon-previous-song {
    background-image: url(../img/av/ic_skip_previous_white_24dp.png);
}
.icon-play-song {
    background-image: url(../img/av/ic_play_arrow_white_24dp.png);
}
.icon-pause-song {
    background-image: url(../img/av/ic_pause_white_24dp.png);
}
.icon-next-song {
    background-image: url(../img/av/ic_skip_next_white_24dp.png);
}

/* side-nav */

.side-nav {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    padding: 0;
}

.artist-list {
    height: calc(100% - 75px);
}

.artist-list h4 {
    margin-top: 10px;
    margin-left: 10px;
}

.indexes {
    padding: 10px 20px;
    text-align: center;
    height: 75px;
}

/* overlay */

.overlay-blur {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  -webkit-filter: blur(10px);
  filter: url('blur.svg#blur');
  filter: blur(10px);
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
}

/* playlist */
.playlist-container {
    position: absolute;
    top: 305px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.playlist-container ul {
    margin: 0;
    height: 100%;
    position: relative;
}

.playlist-container li {
    height: 22px;
}

.playlist-list-container {
    position: absolute;
    top: 45px;
    left: 10px;
    bottom: 30px;
    right: 10px;
}

.playlist-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.playlist-controls a {
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 2px 5px 2px;
}

.playlist-title {
    text-align: center;
}
.playlist-indicator-container {
    line-height: 10px;
}
.playlist-indicator-container > span {
    cursor: pointer;
}
.song-title {
    display: inline-block;
    width: 79%;
    overflow:hidden;
    white-space: nowrap;
    position: absolute;
}

.song-duration {
    display: inline-block;
    position: absolute;
    right: 0;
}

/* album-details */

.album-details {
    height: 100%;
    width: 100%;
    overflow: auto;
    white-space: normal;
}

.album-details .artist-name {
    margin-bottom: 10px;
}

.album-details .title-div {
    padding-left: 10px;
}

.album-details .title-div h4 {
    margin-top: 0;
}

.title-div, .song-div {
    padding: 5px;
}

.song-div{    
    position: absolute;
    bottom: 10px;
    top: 105px;
    left: 0;
    right: 310px;
    padding: 0px 20px;
}

.song-div li .song-duration {
    right: 20px;
}

.song-div li {
    height: 24px;
}

.song-div li .song-track {
    width: 24px;
    display: inline-block;
    text-align: center;
}

.album-selected {
    position: absolute;
    height: calc(100% - 240px);
    width: calc(100% - 240px);
    margin-bottom: 0;
    overflow: hidden;
}


.album-selected > div:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.album-large {
    overflow: hidden;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* album-list */

.album-list {
    position: absolute;
    bottom: 0;
    height: 240px;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 240px);
    margin-bottom: 0px;
}

.album-list .album-small {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin:5px;
    transition: all 1s ease;
    background-size: 100%;
}

.album-list h5 {
    margin-top: 0;
}
.album-list .album-details {
    padding:10px;
}

/* now-playing */

.now-playing-container {
    right:0;
    position: absolute;
    z-index:11;
    height: calc(100% - 240px);
    width: 310px;
}

.now-playing {
    padding: 10px 5px;
    height: 305px;
}

.now-playing img {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.now-playing h5 {
    margin: 0;
    height: 27px;
    overflow: hidden;
}

.now-playing h6 {
    margin: 0;
    height: 22px;
}

/* audio controls */
.audio-controls {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}
.audio-controls .timeline {
    width: 100%;
}
.audio-controls .line {
    position:absolute;
    height: 6px;
    top: 3px;
    border-radius: 2px;
    background: rgba(255,255,255,.2);
    cursor:pointer;
    right: 0;
    left: 0;
}
.audio-controls .playhead{
    width: 20px;
    height: 12px;
    border-radius: 5px;
    margin-left:-1px;
    background-color: #DDD;
    cursor: pointer;
}

.audio-controls .controls {
    text-align: center;
}

/* login panel */
.login-panel {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding: 25px;
}

.login-panel h4 {
    margin-top: 0;
}

.login-panel .error {
    height: 30px;
}

.login-panel .preloader-wrapper {
    vertical-align: middle;
}